.layoutContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
  position: relative;
  width: 100%;
}

.layoutContainer::-webkit-scrollbar {
  height: 10px;
  width: 10px;
}

.layoutContainer::-webkit-scrollbar-track {
  background: #f7f7f7;
  border-radius: 3px;
}

.layoutContainer::-webkit-scrollbar-thumb {
  background: #c28e5c;
  border-radius: 3px;
}

.layoutContainer::-webkit-scrollbar-thumb:hover {
  background: #a67c52;
}

.contentWithHeader {
  flex: 1;
  min-height: calc(100vh - 7.2rem);
  margin-inline-start: 28rem;
  padding-top: 7.2rem;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  box-sizing: border-box;
}

@media (max-width: 1024px) {
  .contentWithHeader {
    margin-inline-start: 0;
    min-height: calc(100vh - 6.4rem);
    padding-top: 6.4rem;
  }
}

@media screen and (max-width: 550px) {
  .layoutContainer {
    overflow-x: hidden;
  }
}
