.container,
.sections {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  position: relative;
  background: #fff;
  padding: 2.4rem;
}

@media screen and (max-width: 768px) {
  .container,
  .sections {
    gap: 2.4rem;
    padding: 2rem;
  }
}

@media screen and (max-width: 480px) {
  .container,
  .sections {
    gap: 2rem;
    padding: 1.6rem;
  }
}

.section {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2.4rem;
  border-radius: 1.2rem;
  border: 1px solid #f0f0f0;
  background: #fff;
}

@media screen and (max-width: 768px) {
  .section {
    padding: 2rem;
    gap: 1.6rem;
  }
}

@media screen and (max-width: 480px) {
  .section {
    padding: 1.6rem;
  }
}

.row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

@media screen and (max-width: 768px) {
  .row {
    gap: 1.6rem;
  }
}

@media screen and (max-width: 600px) {
  .row {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 899px) {
  .sections {
    padding: 2rem 1.6rem;
  }
  
  .section {
    border-radius: 1.2rem;
    border: 1px solid #f0f0f0;
  }
}
