.step_one {
  display: flex;
  /* padding-bottom: 2.4rem; */
  flex-direction: column;
  align-items: flex-start;
  gap: 2.4rem;
  align-self: stretch;
}

.form_container {
  display: flex;
  padding: 0 2.4rem;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 2.4rem;
  align-self: stretch;
}

.form_row {
  display: flex;
  align-items: flex-start;
  gap: 2.4rem;
  align-self: stretch;
}

.form_row > * {
  flex: 1;
}

.date_hint {
  align-self: stretch;
  margin: -1.2rem 0 0;
  color: #888;
  font-size: 1.3rem;
  line-height: 1.5;
  text-align: start;
}

.address_section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0.4rem;
  align-self: stretch;
  width: 100%;
}
.address_section > * {
  flex: 1;
  width: 100%;
}

/* Mobile styles */
@media (max-width: 600px) {
  .form_container {
    padding: 0 2.4rem;
  }

  .form_row {
    flex-direction: column;
    gap: 2.4rem;
  }
  .form_row > * {
    width: 100%;
    flex: 1;
  }

  .save_address_button {
    padding: 1.6rem 0.8rem;
  }
}
