.top {
  margin-bottom: 2.4rem;
}

.stats {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  margin-bottom: 2.4rem;
}

.tables {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  flex: 2;
}

/* @media screen and (max-width: 1450px) { */
.tables {
  flex: 1;
}
/* } */

.tablesAndBottom {
  display: flex;
  gap: 2rem;
  width: 100%;
}

/* @media screen and (max-width: 1450px) { */
.tablesAndBottom {
  flex-direction: column;
}
/* } */
