.container {
  display: flex;
  padding: 16px;
  flex-direction: column;
  gap: 12px;
  border-radius: 12px;
  background: #fff;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  flex: 1;
}

.title {
  color: rgb(44, 44, 44);
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 2.8rem;
}
.list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.item {
  display: flex;
  padding: 16px 8px;
  justify-content: space-between;
  align-items: center;
  border-radius: 12px;
  border: 1px solid #f2f2f2;
  background: #fff;
}

.eventTitle {
  color: #2c2c2c;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.014px;
}

.username {
  color: #2c2c2c;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.06px;
}
