.container {
  margin-top: 2rem;
}

.statusBadge {
  display: inline-flex;
  padding: 0.3rem 1.2rem;
  justify-content: center;
  align-items: center;
  border-radius: 9999px;
}

.statusBadgeReadonly {
  cursor: default;
}

.statusBadgeText {
  font-family: "Cairo", sans-serif;
  font-size: 1.2rem;
}
