.iconBlue {
  color: #3498db;
  font-size: 2.4rem;
}

.iconOrange {
  color: #d38200;
  font-size: 2.4rem;
}

.iconGreen {
  color: #2a8c5b;
  font-size: 2.4rem;
}

.iconRed {
  color: #c0392b;
  font-size: 2.4rem;
}
