.container {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

@media (max-width: 768px) {
  .container {
    padding: 0;
    gap: 1.6rem;
  }
}
